form {
  .row {
    padding-top: 20px;
  }
}

.competitor-section {
  padding: 20px 0px 0px 0px;
}

.card {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-shadow: 0 10px 8px 0 rgba(229, 226, 226, 0.5);
  height: 450px !important;
  width: 300px;
  margin: auto;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

.card:hover {
  animation-name: card-color;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.card button {
  padding: 1em 2em;
  background-color: grey;
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s linear;
  text-align: center;
  padding: 12px;
  color: #fff;
  width: 60%;
  
}

.card button:hover {
  background-color: rgb(190, 36, 36);
  scale: 1.1;
  border-radius: 4em;
  transition: all 1s;
}

.card button:active {
  position: relative;
  top: 3px;
}

.card-heading {
  height: 55px;
}

.column-style {
  padding: 0px 0px 50px 0px;
}

.game-checkbox {
  list-style: none;
}

.game-list {
  padding: 10px 0px 0px 0px;
}

.price {
  font-size: 30px;
}

.product-list {
  li {
    padding: 10px 0px 10px 0px;
  }
}

.register-button-section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 0px 0px 50px 0px;
}

.register-button {
  border: none !important;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s linear;
  text-align: center;
  height: 70px;
  width: 200px;
  color: #fff;
  background-color: rgb(190, 36, 36) !important;
}

.register-button:disabled {
  background-color: grey !important;
  border-color: grey !important;
  opacity: 1 !important;
}

.registration {
  background-image: url("../images//register/crowd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-content {
  padding: 75px 0px 50px 0px;
}

.registration-heading {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding: 50px 0px 0px 0px;
  text-align: center;
}



#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media (max-width: 768px) {

  form {
    .col {
      padding-top: 20px;
    }
  }

  .card {
    box-shadow: 0 10px 8px 0 rgba(229, 226, 226, 0.5);
    height: 400px;
    width: 250px;
    margin: auto;
    padding: 20px 0px 10px 0px;
    text-align: center;
  }

  .register-button {
    bottom: 15px;
  }

  .registration {
    background-image: url("../images//register/crowd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  .registration-content {
    .container {
      h2 {
        padding: 0px 0px 30px 0px;
      }
    }
  }
}

/* Animations for card color */
@keyframes card-color {
  to {
    color: white;
    background-color: black;
  }
}

/* Animation for toast */

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}