@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Yellowtail&family=Montserrat:wght@300&display=swap');


/* regular styles */

body {
  background-color: black !important;
}

.img-style {
  width: 70%;
  height: 100vh;
  filter: brightness(70%)
}

.hero-component {
  height: 100vh;
  background-image: url("../src/images/home-page/3d-night-sky-with-nebula.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  text-align: center;
  position: relative;
  bottom: 380px;
  
}

.hero-text-main {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 25px;
  animation-name: hero-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero-text-sub {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 25px;
  animation-name: hero-animation;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero-text-sub1 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 25px;
  animation-name: hero-animation;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.navbar {
  padding: 15px 20px 15px 20px;
}

.offCanvas-black {
  --bs-nav-link-color: black !important;
}


.bg-light {
  transition: background-color 0.5s ease;
}

.bg-tranparent {
  transition: background-color 0.5s ease;
}

/*Tablet styles */


/* Mobile styles */
@media (max-width: 576px) {
  .img-style {
    padding: 100px 0px 0px 0px;
    height: 55vh;
    width: 100%;
  }

  .hero-component {
    height: 70vh;
  }

  .hero-text {
    bottom: 200px;
  }

  .hero-text-main {
    font-size: 35px;
  }

  .hero-text-sub, .hero-text-sub1 {
    font-size: 25px;
  }
  
}

/* animations */
@keyframes hero-animation {
  from {
    margin-left: -1500px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}